init.txt
data.txt
bin
obj
Iso_By_Dist.cbp
Iso_By_Dist.depend
Iso_By_Dist.layout

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Ignore the build directory
build/*
!build/.gitkeep


# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
