src/bin/
src/data.txt
src/init.txt
src/IBD.cbp
src/IBD.depend
src/IBD.layout
src/correllogram.py
src/data_settings.txt
src/datapop.txt
src/x.txt
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Ignore the build directory
build/*
!build/.gitkeep


# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
